<!--TODO: inline edit scale + call function -->
<!--TODO: inline rm button -->
<!--TODO: docker ls should be columns -->
<!--TODO: create a page that shows logs, inspect, ps and update -->
<div>
    <h3>
      Services
    </h3>
    <div id="test" class="fixed-right">
        <button>Create Service</button>
    </div>
    <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      #table
      class="bootstrap ngx-datatable"
      [headerHeight]="50"
      [limit]="5"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [trackByProp]="'updated'"
      [rows]="rows"
      [columns]="columns">
    </ngx-datatable>
  </div>

  <div>
    
  </div>